.leftPane {
    -fx-background-size: cover;
}

.logo-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.register-pane {
    -fx-background-color: linear-gradient(to right, #ff8a00, #da1b60);
    -fx-background-radius: 20;
    -fx-padding: 20;
}

.register-title {
    -fx-font-size: 20px;
    -fx-text-fill: #da1b60;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

/* Button styling for the Register button */
.register-button {
    -fx-background-color: linear-gradient(to right, indigo, #ff3e96);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
}


.already-account {
    -fx-font-size: 12px;
    -fx-text-fill: #ff8a00;
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.nav-button {
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-border-color: purple;
    -fx-text-fill: purple;
}

.circle {
    -fx-background-color: linear-gradient(indigo, deeppink);
    -fx-border-radius: 0;
}

#facebookIcon, #twitterIcon, #instagramIcon {
    -fx-fit-width: 20px;
    -fx-fit-height: 20px;
}
